* {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

body {
  justify-content: center;
  align-items: center;
  background-color: hwb(60 86% 4%);
}

.App {
  text-align: center;
  padding: 1rem;
  display: inline-block;
  background-color: hwb(60 86% 4%);
  width: 100%;
  height: 100%;
}
li {
  list-style: none;
}
.container {
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fadbd8;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;

  padding: 1rem;
}
.btn {
  position: relative;
  top: 28px;
  width: auto;
  height: fit-content;
}
.input-container {
  margin-bottom: 15px;
}

.input-container label {
  display: block;
  margin-bottom: 5px;
}

.input-container input {
  width: 100%;
  padding: 7px;
  font-size: 16px;
}

.input-container.checkbox label {
  display: inline-block;
}

.input-container.checkbox input {
  width: auto;
}
.ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
  padding: 1rem;
}

.list {
  border-radius: 10px 10px;
  border: solid 1px black;
  padding: 1rem;
  font-size: 20px;
  background-color: #ffe3eb;
}

#form-none {
  display: none;
}
#form-flex {
  display: flex;
}
#form-none2 {
  display: none;
}

#form-flex2 {
  display: flex;
}
.button-user {
  width: 200px;
  height: 70px;
  color: #ff6f91;
  font-size: 30px;
}

.close {
  width: 50px;
  height: 50px;

  position: absolute;
  top: 0;
  right: 0;
  padding: 2px;
}

@media screen and (max-width: 700px) {
  .App {
    padding: 1rem;
  }
  .form {
    display: flex;
    flex-direction: column;
  }
  .ul {
    display: flex;
    flex-direction: column;
  }

  .btn {
    top: 0;
  }
}
